@model CadSeries.Models.Genero

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Detalhes do Genero Cadastrado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Genero</label>
            
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i> Ediart</a> |
    <a asp-action="Index"><i class="fas fa-backward"></i> Voltar</a>
</div>
